.terms-container {
  width: 50%;
  margin: 0 auto;
}

.notes-pair {
  text-align: left;
  margin: 10px 0;
}
        
.topic {
  font-weight: 600;
  font-size: 1.2em;
  padding-top: .6em;
  padding-bottom: .3em;
}

.description {

}
          